body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2C3E50;
  color: #ECF0F1;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.highlight {
  color: #E74C3C;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 8px 0;
}

#words-said li:last-child {
  border-bottom: none;
}

.btn {
  background-color: #E74C3C;
  color: #ECF0F1;
  padding: 12px 25px;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}

.btn:hover {
  background-color: #C0392B;
}

#welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2C3E50;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
}

#game-screen {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  height: 100vh;
}

.scrollable {
  overflow-y: auto;
  width: 90%;
  margin: 10px auto;
  background-color: #34495E;
  border-radius: 10px;
  padding: 15px;
}

.scrollable h3 {
  margin-top: 0;
  color: #E74C3C;
  font-size: 1.5em;
}

#words-said {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.3em;
}

#warning {
  background-color: #E74C3C;
  color: #ECF0F1;
  padding: 8px 15px;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px; 
  font-size: 1em;
}

#words-said li {
  padding: 8px;
  border-bottom: 1px solid #2C3E50;
  font-size: 1em;
}

#player-info {
  text-align: center;
  font-size: 1em;
  color: #ECF0F1;
  flex-shrink: 0;
}

#player-info #timer {
  color: #ECF0F1;
}

#instructions {
  font-size: 1.2em;
  color: #ECF0F1;
  text-align: center;
  padding: 10px;
}

#restart-button {
  font-size: 1em;
  padding: 8px 16px;
  background-color: #27AE60;
  border-radius: 5px;
  margin: 10px auto;
  width: 80%;
  max-width: 200px;
  display: block;
}

#audio-visualizer {
  width: 100%;
  height: 80px;
  background-color: #34495E;
  margin-top: 10px;
  border-radius: 10px;
}

#game-title {
  font-size: 3em;
  color: #E74C3C;
  text-align: center;
  margin: 30px 0 15px 0;
}

#word-list {
  width: 50%;
  margin: 10px auto;
  background-color: #34495E;
  border-radius: 10px;
  padding: 15px 10px;
  flex-grow: 1;
  overflow-y: scroll;
}

#victory-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #2C3E50;
  border-radius: 10px;
  width: 90%;
  height: 100vh;
  margin: 20px auto;
  box-sizing: border-box;
}

#victory-screen .btn {
  width: 80%;
  max-width: 300px;
  padding: 15px 20px;
  font-size: 1.2em;
}

h2#victory-player {
  font-size: 3em;
}

h2#victory-message {
  font-size: 5em;
}

#victory-screen h2 {
  color: #ECF0F1;
  text-align: center;
  margin: 0;
}


@media (max-width: 480px) {
  #welcome-screen {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 85vh;
      padding: 20px;
  }

  #welcome-screen .container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      text-align: start;
  }

  #welcome-screen .container h1 {
      font-size: 3em;
      margin-bottom: auto;
  }

  #welcome-screen .container p {
      font-size: 1.5em;
      margin: 0;
  }

  #welcome-screen .btn {
      width: 80%;
      max-width: 300px;
      padding: 15px 20px;
      font-size: 1.2em;
      margin-top: auto;
  }

  #victory-screen {
    height: 80vh;
    padding: 20px;
  }

  #victory-screen h2{
    margin: 0;
  }

  h2#victory-message{
    margin-top: 50px;
  }

  #victory-screen .btn {
    margin-top: auto;
  }

  #game-screen {
      flex-direction: column;
      height: 85vh;
  }

  #game-screen p {
    margin: 0;
    font-size: 1.3em;
}

  #game-title {
      font-size: 2.5em;
      margin: 20px 0;
  }

  #word-list {
      flex-grow: 1;
      height: auto;
      width: 90%;
  }

  #player-info {
      bottom: 0;
      width: 100%;
      background-color: #2C3E50;
      padding: 10px 0;
  }

  h1 {
      font-size: 2em;
      margin-bottom: 10px;
  }

  /* #victory-screen h2 {
      font-size: 1.8em;
  } */

  #warning {
      padding: 10px 20px;
  }

  #audio-visualizer {
      height: 60px;
  }
}
